<head>
<style>
body {
  background-image: url('static/failure.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
pre{

position: absolute;
top: 5px;

left: 920px;
font-size: 40px;
}
p{

  position: absolute;
  top: 12px;
  color:#a85c15;
  left: 802px;
font-size: 50px;
}

</style>
</head>
<body>
<strong><p id="failure"></p></strong>
<script>  
let x = '{{prediction_text}}';
document.getElementById("failure").innerHTML = x;
</script>
</body>
</html>

